# Visual Studio Code
.vscode/
.history/

# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Temporary files
tmp/
temp/
.tmp/

